.color-list {
  display: grid;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0 5px 0 5px;
}

.color-list__delete-button {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 5px;
  border-color: #ff5d5d;
  border-style: solid;
  background-color: #ff5d5d;
  font-weight: bold;
  padding: 7px 0 7px 0;
}
